ion-header {
  --background       : transparent;
  background-image   : url(../../assets/img/bg.png);
  background-position: center center;
  background-size    : cover;

  ion-toolbar {
    --background    : transparent;
    --ion-color-base: transparent !important;
    color           : white;
  }
}

ion-content {
  h6 {
    padding    : 16px;
    font-weight: bold;
    margin     : 0;
  }
    .list-md{
    padding-right: 16px !important;
    }
  h6::before {
    content         : "";
    width           : 90%;
    height          : 1px;
    background-color: gainsboro;
    position        : absolute;
    margin-top      : -13px;
  }

  .toggel::before {
    content         : "";
    width           : 90%;
    height          : 1px;
    background-color: gainsboro;
    position        : absolute;
    margin          : 0 auto;
    right           : 1px;
    left            : 1px;
  }

  ion-grid {
    padding: 16px;

    ion-row {
      padding: 0;

      ion-col {
        padding: 0;

        ion-item {
          width           : 100%;
          --border-style  : none;
          --background    : transparent;
          background-color: gainsboro;
          border-radius   : 5px;
        }
      }
    }
  }
  ion-list {
    ion-item {
      --border-style: none;
      --background  : transparent;
    }
  }

  .item {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    ion-button {
      height         : 50px;
      width          : 50px;
      border-radius  : 25px;
      font-size      : 1.5rem;
      --padding-start: 0;
      --padding-end  : 0;
      margin         : var(--ion-margin);

      ion-icon {
        color: white;
      }
    }
  }
  ion-toggle{
    padding-right: 0;
  }
}