// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

html {
  font-size: 65%;
}

.red {
  color: #f36c60;
}

.facebook {
  background-color: #3a5a98;
}

.google {
  background-color: #ff5450;
}

.twitter {
  background-color: #65a2d9;
}

ion-header {
  .button {
    width : 44px;
    height: 44px;
  }
}

ion-button {
  height        : 60px;
  text-transform: capitalize;
}

ion-title {
  padding-left : 10px;
  padding-right: 10px;
  font-size    : 1.5rem;
}

.sign {
  --background       : transparent;
  background-image   : url(../src/assets/img/bg.png);
  background-position: center center;
  background-size    : cover;
  --overflow         : hidden;

  .container {
    height         : 100%;
    display        : flex;
    justify-content: space-between;
    flex-direction : column;
    overflow       : scroll;

    img {
      width     : 200px;
      object-fit: contain;
      margin    : auto;
    }
    .social {
      display        : flex;
      justify-content: center;

      ion-buttons {
        ion-button {
          height       : 50px;
          width        : 50px;
          border-radius: 25px;
          font-size    : 1.5rem;
          margin       : var(--ion-margin);
        }
      }

      ion-icon {
        color: white;
      }
    }
  }
}

.sign_form {
  ion-item {
    margin       : var(--ion-margin);
    border-radius: 5px;

    ion-icon {
      color        : black;
      padding-right: 10px;
      font-size    : 1.5rem;
    }

    ion-input {
      --placeholder-color      : black;
      --placeholder-font-weight: bold;
      font-size                : 1.3rem;
    }
  }

  ion-button {
    --background  : var(--ion-color-primary);
    height        : 50px;
    letter-spacing: 2px;
    font-size     : 1.5rem;
    text-transform: capitalize;
    margin        : var(--ion-margin);
    margin-top    : 20px;
    --color       : white;
  }
}
// .sign_form::after{
//   content: "OR";
//   text-align: center;
//   width: 90%;
//   height: 2px;
//   color: gainsboro;
//   background-color: gainsboro;
//   position: absolute;
// }
.OR{
  text-align: center;
  position: relative;
  color: #fff;
}
.OR::after{
  content: "";
  width: 40%;
  height: 1px;
  background-color: gainsboro;
  position: absolute;
  top: 5px;
  right: 22px; 
}
.OR::before{
  content: "";
  width: 40%;
  height: 1px;
  background-color: gainsboro;
  position: absolute; 
  top: 5px;
  left: 22px; 
}
.sc-ion-buttons-md-s .button-has-icon-only.button-clear{
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  width: 25px;
  height: 25px;
  margin: -3px;
}
.sc-ion-buttons-md-s ion-icon[slot=icon-only]{
  font-size: 1.3rem;
}
.sc-ion-card-md-h {
  font-size: 12px;
}
ion-card-title{
  overflow: hidden;
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
ion-item{
  --ripple-color: transparent;
}