ion-header {
    --background: transparent;
    position    : absolute;

    ion-toolbar {
        --background    : transparent;
        --ion-color-base: transparent !important;
        color           : white;
    }
}

.header-md:after {
    height  : 0;
    position: initial;
}

ion-content {
    --background       : transparent;
    background-image   : url(../../assets/img/bg.png);
    background-position: center center;
    background-size    : cover;

    .image::after {
        width           : 90%;
        height          : 1px;
        content         : "";
        background-color: gainsboro;
        margin          : 0 auto;
    }

    .image {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        height         : 45%;

        ion-avatar {
            margin       : auto;
            margin-bottom: 0;
            width        : 120px;
            height       : 120px;
        }

        .content {
            display        : flex;
            justify-content: center;
            align-items    : center;

            .header {
                text-align : center;
                padding    : 0 32px;
                margin-left: 46px;

                h6 {
                    margin: 0;
                    color : white;
                }

                span {
                    color: gainsboro;
                }
            }

            ion-icon {
                color: white;
            }
        }
    }

    form {
        position: absolute;
        bottom  : 0;
        width   : 100%;
        color   : white;

        // .center {
        //     text-align: center
        // }

        .contact {
            display        : flex;
            justify-content: center;
            align-items    : center;
            height         : 50px;
            overflow       : hidden;

            // div {
            //     width: 33.3%;

            // }

            ion-input {
                font-size: 1.4rem;
                /* font-weight: bold; */
                --padding-start: 30px;
            }

            ion-button {
                border-radius: 50%;
                height       : 40px;
                width        : 40px;
                font-size    : 0.9rem;
                margin: 0;
            }

            ion-icon {
                color    : white;
                font-size: 0.9rem;
                width    : 20px;
                height   : 20px;
            }

            .back {
                background-color: var(--ion-color-primary);
                width           : 20px;
                height          : 20px;
                border-radius   : 50%;
                padding         : 5px;
            }
        }

        ion-button {
            color: white;
            margin-top: 20px;
        }
    }
}