ion-header{
    --background: transparent;
    background-image: url(../../assets/img/bg.png);
    background-position: center center;
    background-size: cover;
    ion-toolbar{
        --background: transparent;
        --ion-color-base: transparent !important;
        color: white;
    }
  }
ion-content{
    ion-card{ 
        position: relative;
        height: 158.25px;

        ion-card-header{
            padding-bottom: 0;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            z-index: 2;
            ion-card-title{
                color: white;
                font-size: 1.5rem;
            }
            .rate{
                color: white;
                display: flex;
                justify-content: space-between;
                
            } 
        }
        &:after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0,0,0,.5);
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: 1;
        }    
    }
}
.footer-md:before {
    left: 0;
    top: 0;
    bottom: auto;
    background-position: left 0 top 0;
    position: initial;
    width:0;
    height: 0;
    content: "";
}
ion-footer{
    position: fixed;
    bottom: 8%;
    right: 0;
    width: 22%; 
    ion-button{
        float: right;
        margin: 0;
        padding: 0;
        height: 60px;
        ion-icon{
            background-color: var(--ion-color-primary);
            padding: 10px;
            color: white;
            border-radius: 50%;
            font-size: 3rem;
        }
    }
}